.filter-wrap {
    display: flex;
    flex-direction: column;
}

div {
    padding: 10px;
}

img {
    max-width: 100%;
}

fieldset {
    margin: 5px 0;
    width: auto;
    border: 1px solid #ce5a67;
    border-radius: 4px;
    background-color: #fcf5ed;
}

.background {
    background-color: white;
}

legend {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

select,
option,
button,
input {
    border: 1px solid #ce5a67;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

span {
    font-weight: bold;
}

.body-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.body-type-choice {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    background-color: white;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.color-choice {
    box-shadow: 0 0 3px 0 rgb(31, 23, 23);
    border: 1px solid #1f1717;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    margin: 0 .5rem .5rem 0;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.button:active,
.active {
    border: 1px solid #1bbd1b;
    box-shadow: 0 0 3px 0 rgb(27, 189, 27);

}

option {
    display: block;
}

.wind {
    background-color: #fcf5ed;
    display: flex;
    flex-direction: row;
}

div.additional-container select {
    border: none;
    width: 100%;
    background-color: #fcf5ed;
    margin-top: 7px;
}

div.additional-container select option:checked {
    background-color: #f4bf96;
    border: 1px solid #008000;
    box-shadow: 0 0 3px 0 rgb(0, 128, 0);
}

input[type=submit] {
    background-color: #f4bf96;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: #ce5a67;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgb(31, 23, 23);
}