
a {
    text-decoration: none;
    color: #1f1717;
    @media only screen and (max-width: 768px) {
        width: inherit;
    }
}

.logo {
    width: fit-content;
}

.logo-img {
    width: 20%;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid #1f1717;
}

